{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <!-- custom styles file -->
  <link href="{% static 'css/font_awesome.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

      <div class="container">
          <div class="second-part mt-lg-5">
              <div class="row">
                  <span class="col-md-6">
                      <p style="color: blue">About us</p>
                      <h2 style="color: purple"> All types of toys are available </h2>
                      <p class="text-justify">We provide all types of toys such as new toys as well as thrifted toys.
                          Thrifted toys are comparatively cheaper than new ones.
                      </p>

                  </span>
                  <span class="col-md-6">
                      <img src="{% static 'images/slider1.jpg' %}" class="img-fluid shadow">
                  </span>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="div-third-part  mt-lg-5">
          <div class="row">
              <span class="col-md-6">
                  <img src="{% static 'images/slider2.jpeg' %}" class="img-fluid shadow">
              </span>
              <span class="col-md-6">
                  <p style="color: blue">What We Do</p>
                  <p class="text-justify">Due to COVID-19, we are now giving home delivery service for the safety
                      of our customers. Customers' safety is our first priority. </p>

              </span>
          </div>
          </div>
      </div>
     <div class="container">
         <div class="div-fifth-part mt-lg-5">
             <div class="row">
                 <span class="col-md-12">
                      <p style="color: purple"> Customer Service</p>
                     <h2 style="color: purple"> Online Payment <br> </h2>
                     <p>Online payment is available for our customers. You can now ordered staying
                         at home and pay through online applications such as e-sewa, khalti and others.
                         And you can also pay hand to hand after the products are being delivered.  </p>
                 </span>
             </div>
         </div>
     </div>
<div class="container">
        <div class="div-sixth-part mt-lg-5">
            <div class="row">
                <span class="col-md-4">
                    <img src="{% static 'images/slider3.jpg' %}" class="img-fluid shadow images">
                    <br>
                    <br>
                    <h5 class="sixth-small-heading">Service</h5>
                    <p class="text-justify"> We deliver the products after 1 day of ordering. And delivery charge depends
                        on the distnace between the store and destination location.</p>
                </span>
                <span class="col-md-4">
                    <img src="{% static 'images/mini.jpg' %}" class="img-fluid shadow images">
                    <br>
                    <br>
                    <h5 class="sixth-small-heading">Store Location</h5>
                    <p class="text-justify"> For those custmoers who want to visit our store, they are free to come and order the products. </p>
                </span>
                <span class="col-md-4">
                    <img src="{% static 'images/hand.jpg' %}" class="img-fluid shadow images">
                    <br>
                    <br>
                    <h5 class="sixth-small-heading">Hand Made Products </h5>
                    <p class="text-justify"> We are also providing employment to the women with no job. Local handmade toys are
                        being given importance to uplift their economic status.
                    </p>
                </span>
            </div>
        </div>
    </div>

<!--  SLIDER IMAGES -->
    <br>
    <br>
    <br>
    <button onclick="topFunction()" id="myBtn" title="Go to top" class="fa fa-angle-up"></button>
  <script>
       //Get the button:
        mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
  </script>
         <!-- importing js files -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <script type="text/javascript" src="{% static 'js/cart.js' %}"> </script>
    <script src="{% static 'js/jquery.min.js' %}">

    </script>
    <script src="{% static 'js/bootstrap.js' %}">
    </script>
    <script src="{% static 'js/script.js' %}">
    </script>
    <script src="{% static 'js/jquery.min.js' %}">
    </script>
</body>
</html>
</div>
{% endblock content %}
